@font-face
{
    font-family: sans-eb;
    src: url("../../static/openSans-ExtraBold.ttf");
}
@font-face
{
    font-family: sans-r;
    src: url("../../static/openSans-Regular.ttf");
}

@font-face
{
    font-family: imp;
    src: url("../../static/impact.ttf");
}

@font-face
{
    font-family: LBRITE;
    src: url("../../static/lbrite.ttf");
}
